.footer {    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: $header-and-footer-height;
    
    &_bg-color_beinge_200 {
        background-color: $beige200;
    }

    @include _769 {
        padding: 21px;      
    }
    
    &_margin {
        margin-top: -2px;

        @include _769 {
            margin-top: 0;  
        }
    }
    
    &__information {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 1282px;
        padding: 0 57px;

        @include _769 {
            flex-direction: column;
            gap: 7px;
        }
    }
    
    &__links {
        display: flex;
        align-items: center;
        gap: 25px;

        @include _769 {
            gap: 7px;
        }
    }
    
    &__link {
        display: flex;
        align-items: center;
        gap: 10px;

        text-decoration: underline;
        text-underline-offset: 6px;
        text-decoration-color: transparent;
        
        transition: text-decoration-color 150ms ease-in-out;

        @include _769 {
            gap: 5px;
        }
    }

    &__link:hover {
        text-decoration-color: inherit;
    }

    &__link:active {
        color: $green400;
    }
}