.gallery {
    width: 100%;
    max-width: 1920px;
    padding: 0 30px;

    @include _1124 {
        padding: 0 20px;
    }
    
    &_margin {
        @include _1124 {
            margin-top: -5px;
        }

        @include _769 {
            margin-top: 2px;
        }
    }

    &__screens {
        width: inherit;

        display: grid;
        grid-template-areas: 
            "A A A A A B B B B B C C C C C D D D D D"
            "E E E E F F F F G G G G H H H H I I I I"
            "J J J J J K K K K K N N N N N M M M M M";
        gap: 30px;

        @include _1124 {     
            grid-template-areas: 
                "A A A A C C C C D D D D"
                "E E E F F F H H H I I I"
                "J J J J K K K K N N N N";
            gap: 30px 20px;
        }

        @include _750 {     
            grid-template-areas: 
                "A A A D D D"
                "E E H H I I"
                "J J J K K K";
            gap: 20px 10px;
        }
    }

    &__image {
        position: relative;

        width: 100%;
        height: 301px;
        overflow: hidden;

        background-color: $lightgrey;
        border-radius: 50px;

        @include _769 {
            border-radius: 20px;
        }

        @include _500 {
            height: 110px;
        }

        & img {
            position: absolute;

            width: inherit;
            height: inherit;

            object-fit: cover;
            object-position: 50%;
        }

        &_hidden_1124px {
            @include _1124 {
                display: none;
            }
        }

        &_hidden_750px {
            @include _750 {
                display: none;
            }
        }

        &:nth-child(1) {
            grid-area: A;

            @include _750 {
                & img {
                    padding-right: 5px;
                }
            }
        }

        &:nth-child(2) {
            grid-area: B;
        }

        &:nth-child(3) {
            grid-area: C;
        }

        &:nth-child(4) {
            grid-area: D;

            @include _750 {
                & img {
                    padding-left: 5px;
                }
            }
        }

        &:nth-child(5) {
            grid-area: E;
        }

        &:nth-child(6) {
            grid-area: F;
        }

        &:nth-child(7) {
            grid-area: G;
        }

        &:nth-child(8) {
            grid-area: H;
        }

        &:nth-child(9) {
            grid-area: I;
        }

        &:nth-child(10) {
            grid-area: J;
        }

        &:nth-child(11) {
            grid-area: K;
        }

        &:nth-child(12) {
            grid-area: N;
        }

        &:nth-child(13) {
            grid-area: M;

            img {
                object-position: 50% 92%;
            }
        }
    }
}