.main {
    display: none;
    
    flex-direction: column;
    align-items: center;
    gap: 135px;
    width: 100vw;
    
    background-color: $beige100;
    
    @include _769 {
        gap: 75px;
    }
}