.reviews {
    @include _content;

    @include _769 {
        margin-top: 22px;
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;

        @include _1124 {
            gap: 18px;
        }

        @include _769 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}

@import "./review";