@font-face {
  font-family: 'Roboto';
  src: url(../asset/fonts/Roboto-Medium.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 135px;
  background-color: #F9F7F4;
}
a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}
.header {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url('../asset/header/header-img.png'), lightgray 50% / cover no-repeat;
}
.head-top {
  display: flex;
  width: 1920px;
  height: 88px;
  justify-content: center;
  align-items: center;
  gap: 214px;
}
.head-bottom {
  display: flex;
  width: 1920px;
  height: 743px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.head-bottom__title {
  width: 768px;
  text-align: center;
  color: black;
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: 109%;
  letter-spacing: 1.92px;
  color: white;
}
.head-bottom__description {
  width: 562px;
  text-align: center;
  color: black;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 142%;
  color: white;
}
.head-bottom input[type='button'] {
  outline: none;
  border: none;
  padding: 5px 20px;
  color: black;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 142%;
  letter-spacing: -0.17px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  background: white;
}
.head-menu {
  color: black;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 142%;
  color: white;
  display: flex;
  width: 1168px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}
.head-menu__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.block-of-tours {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
  width: 1170px;
}
.block-of-tours .menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
}
.block-of-tours .menu__title {
  color: black;
  font-size: 59px;
  font-style: normal;
  font-weight: 700;
  line-height: 124%;
}
.block-of-tours .menu__navigation {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}
.block-of-tours .menu__navigation a {
  color: black;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 122%;
}
.block-of-tours .cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.block-of-tours .cards .card-tour {
  width: 370px;
  height: 531px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 50px;
}
.block-of-tours .cards .card-tour__title {
  margin-bottom: 16px;
  color: black;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: 122%;
  color: white;
}
.block-of-tours .cards .card-tour__price {
  margin-bottom: auto;
  color: black;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 142%;
  letter-spacing: -0.17px;
  color: white;
}
.block-of-tours .cards .card-tour__button {
  display: flex;
  align-items: center;
  gap: 15px;
}
.block-of-tours .cards .card-tour__button a {
  color: black;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 122%;
  color: white;
}
.block-of-tours .cards .card-tour:nth-child(1) {
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48%, rgba(0, 0, 0, 0.5) 100%), url('../asset/cardstour/card\ tour\ photo-1.jpg'), lightgray 50% / cover no-repeat;
}
.block-of-tours .cards .card-tour:nth-child(2) {
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48%, rgba(0, 0, 0, 0.5) 100%), url('../asset/cardstour/card\ tour\ photo-2.jpg'), lightgray 50% / cover no-repeat;
}
.block-of-tours .cards .card-tour:nth-child(3) {
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48%, rgba(0, 0, 0, 0.5) 100%), url('../asset/cardstour/card\ tour\ photo-3.jpg'), lightgray 50% / cover no-repeat;
}
.block-of-tours .cards .card-tour:nth-child(4) {
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48%, rgba(0, 0, 0, 0.5) 100%), url('../asset/cardstour/card\ tour\ photo-4.jpg'), lightgray 50% / cover no-repeat;
}
.block-of-tours .cards .card-tour:nth-child(5) {
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48%, rgba(0, 0, 0, 0.5) 100%), url('../asset/cardstour/card\ tour\ photo-5.jpg'), lightgray 50% / cover no-repeat;
}
.block-of-tours .cards .card-tour:nth-child(6) {
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48%, rgba(0, 0, 0, 0.5) 100%), url('../asset/cardstour/card\ tour\ photo-6.jpg'), lightgray 50% / cover no-repeat;
}
.block-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.block-title__title {
  color: black;
  font-size: 59px;
  font-style: normal;
  font-weight: 700;
  line-height: 124%;
  text-align: center;
}
.block-title__description {
  color: black;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 142%;
  text-align: center;
  width: 418px;
  color: #A6A6A6;
}
.block-tour-create {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
  width: 1170px;
}
.block-tour-create input,
.block-tour-create textarea {
  width: 100%;
  outline: none;
  font-size: inherit;
  color: inherit;
  border: none;
  background: inherit;
}
.block-tour-create .answers {
  width: 100%;
  padding: 70px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 33px 30px;
  border-radius: 50px;
  background-color: white;
}
.block-tour-create .answers .item {
  color: black;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 142%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;
}
.block-tour-create .answers .item_basis {
  flex-basis: 100%;
}
.block-tour-create .answers .item__form {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border: 1px solid #F4F0E9;
  border-radius: 10px;
  background: #F9F7F4;
}
.block-tour-create .answers .item__form_half-width {
  width: 500px;
}
.block-tour-create .answers .item .form-buttons {
  width: 500px;
  display: flex;
  align-items: flex-start;
  gap: 30px;
}
.block-tour-create .answers .item .form-buttons input[type='submit'],
.block-tour-create .answers .item .form-buttons input[type='reset'] {
  padding: 15px 30px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}
.block-tour-create .answers .item .form-buttons input[type='submit'] {
  color: white;
  background-color: #286562;
}
.block-tour-create .answers .item .form-buttons input[type='reset'] {
  color: #286562;
  background-color: #E0F0E5;
}
.block-tour-create input[type='radio'],
.block-tour-create input[type='checkbox'] {
  display: none;
}
.block-tour-create input[type="radio"]:checked ~ label .yes,
.block-tour-create input[type='checkbox']:checked ~ label .yes {
  display: inline-flex;
}
.block-tour-create input[type="radio"]:not(:checked) ~ label .yes,
.block-tour-create input[type="checkbox"]:not(:checked) ~ label .yes {
  display: none;
}
.block-tour-create input[type="radio"]:checked ~ label .no,
.block-tour-create input[type="checkbox"]:checked ~ label .no {
  display: none;
}
.block-tour-create input[type="radio"]:not(:checked) ~ label .no,
.block-tour-create input[type="checkbox"]:not(:checked) ~ label .no {
  display: inline-flex;
}
.block-tour-create .radio-buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 31px;
}
.block-tour-create .radio-buttons label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
  cursor: pointer;
}
.block-tour-create .licentia-description {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 19px;
  cursor: pointer;
}
.block-tour-create .licentia-description .text {
  display: flex;
  gap: 5px;
  font-size: 17px;
  font-weight: 400;
  line-height: 142%;
  letter-spacing: -0.17px;
}
.block-tour-create .licentia-description .text_grey {
  color: #A6A6A6;
}
.block-reviews {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
  width: 1170px;
}
.block-reviews .reviews {
  display: flex;
  width: 100%;
  align-items: flex-start;
  gap: 30px;
}
.block-reviews .card {
  display: flex;
  padding: 40px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 50px;
  background-color: #F4F0E9;
}
.block-reviews .card p {
  color: black;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 122%;
}
.block-reviews .card__person {
  display: flex;
  padding-top: 70px;
  align-items: flex-end;
  align-self: stretch;
}
.block-reviews .card__person .name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;
}
.block-reviews .card__person .name_big {
  color: black;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: 122%;
}
.block-reviews .card__person .name_description {
  color: black;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 142%;
  letter-spacing: -0.17px;
  color: #A6A6A6;
}
.block-reviews .card__person .logo {
  width: 75px;
  height: 75px;
  border-radius: 100px;
}
.block-reviews .card__person .logo_1 {
  background: url('../asset/avatars/review\ photo-1.jpg'), lightgray -21.313px 0px / 149.953% 100% no-repeat;
}
.block-reviews .card__person .logo_2 {
  background: url('../asset/avatars/review\ photo-2.jpg'), lightgray -21.313px 0px / 149.953% 100% no-repeat;
}
.block-gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.block-gallery .gallery {
  padding: 0px 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.block-gallery .item {
  flex: 23%;
}
.block-gallery .item_flex_15 {
  flex: 15%;
}
.block-gallery img {
  max-width: 100%;
  height: auto;
  border-radius: 50px;
}
