@black: black;
@white: white;
@orange100: #F8E6BE;
@orange200: #EFA501;
@green100: #E0F0E5;
@green200: #627F7E;
@green300: #3B7E7B;
@green400: #286562;
@grey100: #F1F3F2;
@grey200: #D9DFDB;
@grey300: #A6A6A6;
@beige100: #F9F7F4;
@beige200: #F4F0E9;

@lightgrey: #d3d3d3;

@header-and-footer-height: 88px;
@viewport1124: 1124px;

@font-face {
    font-family: 'Roboto-Medium';
    src: url(../asset/fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url(../asset/fonts/Roboto-Regular.ttf);
}

.h1-font() {
    font-family: "Roboto-Medium", sans-serif;
    color: @black;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: 109%;
    // letter-spacing: 1.92px;
    word-wrap: break-word;
}

.h2-font() {
    font-family: "Roboto-Medium", sans-serif;
    color: @black;
    font-size: 59px;
    font-style: normal;
    font-weight: 700;
    line-height: 124%;
    letter-spacing: -0.9px;
    word-wrap: break-word;
}

.h3-font() {
    font-family: "Roboto-Medium", sans-serif;
    color: @black;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: 122%;
    word-wrap: break-word;
}

.p-big-font() {
    font-family: "Roboto-Regular", sans-serif;
    color: @black;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: 122%;
    letter-spacing: -0.3px;
    word-wrap: break-word;
}

.p-normal-font() {
    font-family: "Roboto-Regular", sans-serif;
    color: @black;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 142%;
    word-wrap: break-word;
}

.p-small-font() {
    font-family: "Roboto-Regular", sans-serif;
    color: @black;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 142%;
    letter-spacing: -0.17px;
    word-wrap: break-word;
}

.hover-active-button() {
    button[type='button'] {
        background-color: @green400;
        border-radius: 50px;
    }

    button[type='button']:active {
        background-color: @orange200;
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: @header-and-footer-height;
    overflow-x: hidden;
}

a {
    font: inherit;
    color: inherit;
    text-decoration: none;

    transition: all 150ms ease;
}

input,
button,
textarea,
select {
    font: inherit;
    color: inherit;

    outline: none;
    border: none;
    background-color: transparent;

    transition: all 150ms ease;

    cursor: pointer;
}

.main {
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 135px;

    background-color: @beige100;
}

.header {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: 
        linear-gradient(180deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.00) 39.9%),
        linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%),
        url('../asset/header/header-img.png') @lightgrey no-repeat 50%/cover;
}

.header-top {
    width: 100%;
    height: @header-and-footer-height;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header-menu {
    width: 100%;
    max-width: 1282px;

    padding: 0 57px;
    
    .p-normal-font();
    color: @white;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    .icon {
        width: 181.84px;
        height: 30.24px;

        -webkit-mask-image: url('../asset/svg/YourTour.svg');
        mask-image: url('../asset/svg/YourTour.svg');
        -webkit-mask-size: 181.84px 30.24px;
        mask-size: 181.84px 30.24px;

        background-color: @white;
    }
    
    .navigation {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;

        @media screen and (max-width: @viewport1124) {
            gap: 30px;
        }

        @media screen and (max-width: 900px) {
            display: none;
        }
        
        a:hover {
            text-decoration: underline;
            text-decoration-thickness: 1px;
            text-underline-offset: 6px;
        }

        a:active {
            color: @orange200;
        }
    }

    .icon:active,
    .telefon:active {
        opacity: 50%;
    }
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
}
            
.hidden {
    opacity: 0;
    z-index: -1;

    transition: all 300ms ease-in-out;
}
            
.shown {
    opacity: 1;
    z-index: 2;
            
    -webkit-backdrop-filter: blur(5.5px);
    backdrop-filter: blur(5.5px);
    background-color: rgba(255, 255, 255, 0.75);
            
    .header-menu {
        color: @black;
            
        .icon {
            background-color: @black;
        }
    }
}

.header-bot {
    height: 743px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;

    .title {
        width: 768px;

        .h1-font();
        text-align: center;
        color: @white;

        @media screen and (max-width: @viewport1124) {
            width: 914px;
        }
    }

    .description {
        width: 562px;

        .p-normal-font();
        text-align: center;
        color: @white;

        @media screen and (max-width: @viewport1124) {
            width: 422px;
        }
    }

    .search-button {
        padding: 5px 20px;

        .p-small-font();
        text-align: center;

        background-color: @white;
        border-radius: 10px;
    }

    .search-button:hover {
        color: @white;
        background-color: @orange200;
    }

    .search-button:active {
        color: @black;
        background-color: @orange100;
    }
}

.content {
    width: 100%;
    max-width: 1270px;

    padding: 0 50px;

    display: flex;
    flex-direction: column;
    gap: 100px;
}

.desktop-edit {
    gap: 106px;
}

.tours-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;

    .title {
        .h2-font();
        text-align: center;
    }

    .navigation {
        display: flex;
        gap: 30px;
    }

    a {
        .p-big-font();
    }

    .valid,
    a:hover {
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-underline-offset: 10px;
    }

    a:active {
        opacity: 50%;
    }

    .valid {
        color: @orange200;
    }
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    gap: 30px;

    @media screen and (max-width: 1124px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 18px;
    }
}

.card {
    position: relative;

    width: 100%;
    max-width: 370px;
    height: 531px;

    padding: 50px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    border-radius: 50px;
    overflow: hidden;

    cursor: pointer;

    @media screen and (max-width: @viewport1124) {
        max-width: none;
    }
    
    .title {
        margin-bottom: 16px;
        
        z-index: 1;
        
        .h3-font();
        color: @white;
    }
    
    .price {
        margin-bottom: auto;
        
        z-index: 1;
        
        .p-small-font();
        color: @white;
    }
}

.bg-image {
    position: absolute;
    top: 0;
    left: 0;

    width: inherit;
    max-width: inherit;
    height: inherit;

    transition: all 300ms ease;
    
    @media screen and (max-width: @viewport1124) {
        max-width: none;
    }
}

.card:nth-child(1) .bg-image {
    background: 
        linear-gradient(360deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.50) 100%),
        url('../asset/cardstour/card\ tour\ photo-1.png') @lightgrey center/cover no-repeat;
}

.card:nth-child(2) .bg-image {
    background: 
        linear-gradient(360deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.50) 100%),
        url('../asset/cardstour/card\ tour\ photo-2.png') @lightgrey center/cover no-repeat;
}

.card:nth-child(3) .bg-image {
    background: 
        linear-gradient(360deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.50) 100%),
        url('../asset/cardstour/card\ tour\ photo-3.png') @lightgrey center/cover no-repeat;
}

.card:nth-child(4) .bg-image {
    background: 
        linear-gradient(360deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.50) 100%),
        url('../asset/cardstour/card\ tour\ photo-4.png') @lightgrey center/cover no-repeat;
}

.card:nth-child(5) .bg-image {
    background: 
        linear-gradient(360deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.50) 100%),
        url('../asset/cardstour/card\ tour\ photo-5.jpg') @lightgrey center/cover no-repeat;
}

.card:nth-child(6) .bg-image {
    background: 
        linear-gradient(360deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.50) 100%),
        url('../asset/cardstour/card\ tour\ photo-6.png') @lightgrey center/cover no-repeat;
}

.button-with-arrow {
    position: relative;
    top: 7px;
    left: -20px;
    
    button[type=button] {
        .p-big-font();
        color: @white;
        
        padding: 7px 20px;

        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 15px;
    }
}

.arrow {
    width: 24px;
    height: 26px;

    -webkit-mask-image: url('../asset/svg/arrow\ bt.svg');
    mask-image: url('../asset/svg/arrow\ bt.svg');

    -webkit-mask-size: 24px 26px;
    mask-size: 24px 26px;

    background-color: @white;
}

.card:hover {
    .hover-active-button();

    .bg-image {
        transform: scale(1.2);
    }
}

.title-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    .title {
        .h2-font();
        text-align: center;
    }

    .description {
        width: 418px;

        .p-normal-font();
        text-align: center;
        color: @grey300;
    }
}

.form {
    width: 100%;

    padding: 70px;

    display: grid;
    grid-template-areas: 
        "A B"
        "C D"
        "E F"
        "G G"
        "H H"
        "I I"
        "J J";
    gap: 31px 30px;

    background-color: @white;
    border-radius: 50px;

    @media screen and (max-width: @viewport1124) {
        padding: 60px;
        gap: 31px 20px;
    }
}

.form-grid-element:nth-child(1) {
    grid-area: A;
}

.form-grid-element:nth-child(2) {
    grid-area: B;
}

.form-grid-element:nth-child(3) {
    grid-area: C;
}

.form-grid-element:nth-child(4) {
    grid-area: D;
}

.form-grid-element:nth-child(5) {
    grid-area: E;
}

.form-grid-element:nth-child(6) {
    grid-area: F;
}

.form-grid-element:nth-child(7) {
    grid-area: G;
}

.form-grid-element:nth-child(8) {
    grid-area: H;
}

.form-grid-element:nth-child(9) {
    grid-area: I;
}

.form-grid-element:nth-child(10) {
    grid-area: J;
}

.item {
    position: relative;
    
    .p-normal-font();

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;

    .element {
        width: 100%;

        padding: 20px;

        background-color: @beige100;
        border: 1px solid @beige200;
        border-radius: 10px;

        transition: all 300ms ease;
    }

    .element:hover {
        background-color: @beige200;
    }

    select {
        color:@grey300;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    textarea {
        resize: none;
    }

    input[type="date"] {
        color: @grey300;
        text-transform: uppercase;
    }

    .black,
    input[type="date"].black {
        color: @black;
    }
}

.select-arrow {
    position: absolute;
    right: 20px;
    bottom: 20px;
    
    pointer-events: none;
    
    background-color: @black;
    
    -webkit-mask-image: url('../asset/svg/ic-dropdown.svg');
    mask-image: url('../asset/svg/ic-dropdown.svg');
}

.svg-26 {
    width: 26px;
    height: 26px;
    
    -webkit-mask-size: 26px 26px;
    mask-size: 26px 26px;
}

.radio-buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;

    label {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 11px;

        cursor: pointer;
    }
}

.licentia {
    .p-normal-font();

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 22px;

    @media screen and (max-width: @viewport1124) {
        gap: 13px;
    }

    label {
        display: flex;
        justify-content: center;
        align-items: center;

        cursor: pointer;
    }

    p {
        .p-small-font();
        color: @grey300;
    }

    a {
        color: @black;
    }

    a:hover {
        text-decoration: underline;
    }

    a:active {
        color: @green400;
    }
}

.radio {
    background-color: @black;
}

.circle-yes {
    -webkit-mask-image: url('../asset/svg/radiobutton-yes.svg');
    mask-image: url('../asset/svg/radiobutton-yes.svg');
}

.circle-no {
    -webkit-mask-image: url('../asset/svg/radiobutton-no.svg');
    mask-image: url('../asset/svg/radiobutton-no.svg');
}

.square-yes {
    -webkit-mask-image: url('../asset/svg/s-radiobutton-yes.svg');
    mask-image: url('../asset/svg/s-radiobutton-yes.svg');
}

.square-no {
    -webkit-mask-image: url('../asset/svg/s-radiobutton-no.svg');
    mask-image: url('../asset/svg/s-radiobutton-no.svg');
}

input[type='radio'],
input[type='checkbox'] {
    display: none;
}

input[type="radio"]:checked~label .yes,
input[type='checkbox']:checked~label .yes {
    display: flex;
}

input[type="radio"]:not(:checked)~label .yes,
input[type="checkbox"]:not(:checked)~label .yes {
    display: none;
}

input[type="radio"]:checked~label .no,
input[type="checkbox"]:checked~label .no {
    display: none;
}

input[type="radio"]:not(:checked)~label .no,
input[type="checkbox"]:not(:checked)~label .no {
    display: inline-flex;
}

.form-buttons {
    width: 500px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    
    button[type='submit'],
    button[type='reset'] {
        width: 100%;

        padding: 15px 30px;

        .p-normal-font();
        text-align: center;

        border-radius: 10px;

        transition: all 300ms ease;
    }

    button[type='submit'] {
        color: @white;
        background-color: @green400;
    }

    button[type='submit']:hover {
        background-color: @green300;
    }
    
    button[type='submit']:active {
        background-color: @green200;
    }

    button[type='reset'] {
        color: @green400;
        background-color: @green100;
    }
    
    button[type='reset']:hover {
        background-color: @grey200;
    }
    
    button[type='reset']:active {
        background-color: @grey100;
    }
}

.reviews {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

    @media screen and (max-width: @viewport1124) {
        gap: 18px;
    }
}

.review {
    width: 100%;

    padding: 40px;

    .p-big-font();

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    
    background-color: @beige200;
    border-radius: 50px;
}

.person {
    margin-top: 70px;

    display: grid;
    grid-template-areas: "A C" "B C";

    .name {
        width: 100%;

        margin-bottom: 8px;
        
        grid-area: A;

        .h3-font();
        text-align: left;
    }

    .tour {
        width: 100%;

        grid-area: B;

        .p-small-font();
        color: @grey300;
    }

    .avatar {
        width: 75px;
        height: 75px;

        margin-left: auto;
        
        grid-area: C;

        border-radius: 100px;
    }

    .image-1 {
        background: url('../asset/avatars/review\ photo-1.jpg'), @lightgrey -21.313px 0px / 149.953% 100% no-repeat;
        background-position: 50% 20%;
        background-size: cover;
    }

    .image-2 {
        background: url('../asset/avatars/review\ photo-2.jpg'), @lightgrey -21.313px 0px / 149.953% 100% no-repeat;
        background-position: 50% 10%;
        background-size: cover;
    }
}

.width-1920 {
    max-width: 1920px;

    padding: 0 30px;

    @media screen and (max-width: @viewport1124) {
        padding: 0 20px;
    }
}

.gallery {
    display: grid;
    grid-template-areas: 
        "A A A A A B B B B B C C C C C D D D D D"
        "E E E E F F F F G G G G H H H H I I I I"
        "J J J J J K K K K K L L L L L M M M M M";
    gap: 30px;

    .item {
        width: 100%;
        height: 301px;

        border-radius: 50px;

        &:nth-child(1) {
            grid-area: A;

            background: url('../asset/travelphoto/travel\ photo-1.png') @lightgrey no-repeat center/cover;
        }

        &:nth-child(2) {
            grid-area: B;

            background: url('../asset/travelphoto/travel\ photo-2.png') @lightgrey no-repeat center/cover;
        }

        &:nth-child(3) {
            grid-area: C;

            background: url('../asset/travelphoto/travel\ photo-3.png') @lightgrey no-repeat center/cover;
        }

        &:nth-child(4) {
            grid-area: D;

            background: url('../asset/travelphoto/travel\ photo-4.png') @lightgrey no-repeat center/cover;
        }

        &:nth-child(5) {
            grid-area: E;

            background: url('../asset/travelphoto/travel\ photo-5.png') @lightgrey no-repeat center/cover;
        }

        &:nth-child(6) {
            grid-area: F;

            background: url('../asset/travelphoto/travel\ photo-6.png') @lightgrey no-repeat center/cover;
        }

        &:nth-child(7) {
            grid-area: G;

            background: url('../asset/travelphoto/travel\ photo-7.jpg') @lightgrey no-repeat center/cover;
        }

        &:nth-child(8) {
            grid-area: H;

            background: url('../asset/travelphoto/travel\ photo-8.png') @lightgrey no-repeat center/cover;
        }

        &:nth-child(9) {
            grid-area: I;

            background: url('../asset/travelphoto/travel\ photo-13.png') @lightgrey no-repeat center/cover;
        }

        &:nth-child(10) {
            grid-area: J;

            background: url('../asset/travelphoto/travel\ photo-9.png') @lightgrey no-repeat center/cover;
        }

        &:nth-child(11) {
            grid-area: K;

            background: url('../asset/travelphoto/travel\ photo-10.png') @lightgrey no-repeat center/cover;
        }

        &:nth-child(12) {
            grid-area: L;

            background: url('../asset/travelphoto/travel\ photo-11.png') @lightgrey no-repeat center/cover;
            background-position: 50% 75%;
        }

        &:nth-child(13) {
            grid-area: M;

            background: url('../asset/travelphoto/travel\ photo-12.png') @lightgrey no-repeat  center/cover;
            background-position: 50% 90%;
        }
    }

    @media screen and (max-width: @viewport1124) {
        grid-template-areas: 
            "A A A A C C C C D D D D"
            "E E E F F F H H H I I I"
            "J J J J K K K K L L L L";
        gap: 30px 20px;

        .hidden-1 {
            display: none;
        }
    }
}

.stories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.story {
    position: relative;

    width: 100%;
    max-width: 1170px;
    height: 567px;

    padding: 60px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    border-radius: 50px;
    overflow: hidden;

    cursor: pointer;

    transition: all 300ms ease;

    .story-card {
        width: 100%;
        max-width: 554px;

        z-index: 1;
    }

    .title {
        .h3-font();
        color: @white;
        margin-bottom: 37px;
    }

    .description {
        .p-normal-font();
        color: @white;
        margin-bottom: 25px;
    }

    ul {
        .p-normal-font();
        color: @white;
        margin-left: 30px;
    }

    .information {
        width: 100%;

        padding-right: 10px;

        z-index: 1;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .social-media {
        .p-normal-font();
        color: @white;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    a:hover {
        text-decoration: underline;
        text-underline-offset: 6px;
    }

    a:active {
        color: @orange200;
    }
}

.story:nth-child(1) .bg-image {
    background:
        linear-gradient(270deg, rgba(0, 0, 0, 0.00) 0.01%, rgba(0, 0, 0, 0.20) 100%),
        url('../asset/storycards/story\ photo-1.jpg') @lightgrey 50%/cover no-repeat;
}

.story:nth-child(2) .bg-image {
    background:
        linear-gradient(270deg, rgba(0, 0, 0, 0.00) 0.01%, rgba(0, 0, 0, 0.20) 100%),
        url('../asset/storycards/story\ photo-2.jpg') @lightgrey 50%/cover no-repeat;
}

.story:nth-child(3) .bg-image {
    background:
        linear-gradient(270deg, rgba(0, 0, 0, 0.00) 0.01%, rgba(0, 0, 0, 0.20) 100%),
        url('../asset/storycards/story\ photo-3.jpg') @lightgrey 50%/cover no-repeat;
}

.story:hover {
    .hover-active-button();

    .bg-image {
        transform: scale(1.2);
    }
}

.agitation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    .beautiful-view {
        width: 370px;
        height: 370px;

        background: 
            url('../asset/footer/footer\ photo.jpg'), @lightgrey -117.363px 0px / 151.55% 100.781% no-repeat;
        border-radius: 50px;
    }

    .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
    }

    .title {
        .h3-font();
    }

    p {
        .p-normal-font();
        color: @grey300;
    }

    a {
        color: @black;
    }

    a:hover {
        text-decoration: underline;
    }

    a:active {
        color: @green400;
    }
}

.footer {
    width: 100%;
    height: @header-and-footer-height;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: @beige200;

    .information {
        width: 100%;
        max-width: 1282px;
        padding: 0 57px;
    
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        .social-media {
            display: flex;
            align-items: center;
            gap: 25px;
        }
    
        p {
            .p-normal-font();
            color: @grey300;
        }
    
        a {
            .p-normal-font();
    
            display: flex;
            align-items: center;
            gap: 10px;
        }
    
        a:hover {
            text-decoration: underline;
            text-underline-offset: 6px;
        }
    
        a:active {
            color: @green400;
        }
    
        .instagram,
        .facebook,
        .vkontakte {
            background-color: @grey300;
        }
    
        .instagram {
            -webkit-mask-image: url('../asset/svg/inst.svg');
            mask-image: url('../asset/svg/inst.svg');
        }
    
        .facebook {
            -webkit-mask-image: url('../asset/svg/fb.svg');
            mask-image: url('../asset/svg/fb.svg');
        }
    
        .vkontakte {
            -webkit-mask-image: url('../asset/svg/vk.svg');
            mask-image: url('../asset/svg/vk.svg');
        }
    }
}
