@font-face {
  font-family: 'Roboto-Medium';
  src: url(../asset/fonts/Roboto-Medium.ttf);
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url(../asset/fonts/Roboto-Regular.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 88px;
  overflow-x: hidden;
}
a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
  transition: all 150ms ease;
}
button[type='button'] {
  outline: none;
  border: none;
  background-color: transparent;
  transition: all 150ms ease;
}
.main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 135px;
  background-color: #F9F7F4;
}
.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 39.9%), linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%), url('../asset/header/header-img.png'), #d3d3d3;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.header .head-top {
  display: flex;
  width: 100%;
  height: 88px;
  justify-content: center;
  align-items: center;
  gap: 214px;
}
.header .head-top_fixed {
  position: fixed;
  visibility: hidden;
  z-index: -1;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 88px;
  justify-content: center;
  align-items: center;
  gap: 214px;
  -webkit-backdrop-filter: blur(5.5px);
  backdrop-filter: blur(5.5px);
  background-color: rgba(255, 255, 255, 0.75);
}
.header .head-top_fixed .head-menu {
  color: black;
}
.header .head-top_fixed .head-menu .svg {
  background-color: black;
}
.header .shown {
  visibility: visible;
  z-index: 100;
}
.header .head-menu {
  font-family: "Roboto-Regular", sans-serif;
  color: black;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 142%;
  word-wrap: break-word;
  color: white;
  display: flex;
  width: 1168px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}
@media screen and (max-width: 1918px) {
  .header .head-menu {
    width: 910px;
  }
}
.header .head-menu .svg {
  width: 181.84px;
  height: 30.24px;
  -webkit-mask-image: url('../asset/svg/YourTour.svg');
  mask-image: url('../asset/svg/YourTour.svg');
  background-color: white;
}
.header .head-menu__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
@media screen and (max-width: 1918px) {
  .header .head-menu__navigation {
    gap: 30px;
  }
}
.header .head-menu__navigation a:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 6px;
}
.header .head-menu__navigation a:active {
  color: #EFA501;
}
.header .head-menu .telefon:active {
  opacity: 50%;
}
.header .head-bottom {
  display: flex;
  height: 743px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.header .head-bottom__title {
  width: 768px;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  color: black;
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: 109%;
  letter-spacing: 1.92px;
  word-wrap: break-word;
  color: white;
}
@media screen and (max-width: 1918px) {
  .header .head-bottom__title {
    width: 914px;
  }
}
.header .head-bottom__description {
  width: 562px;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  color: black;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 142%;
  word-wrap: break-word;
  color: white;
}
@media screen and (max-width: 1918px) {
  .header .head-bottom__description {
    width: 422px;
  }
}
.header .head-bottom input[type='button'] {
  outline: none;
  border: none;
  padding: 5px 20px;
  font-family: "Roboto-Regular", sans-serif;
  color: black;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 142%;
  letter-spacing: -0.17px;
  word-wrap: break-word;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  background: white;
  transition: all 300ms ease;
}
.header .head-bottom input[type='button']:hover {
  color: white;
  background-color: #EFA501;
}
.header .head-bottom input[type='button']:active {
  color: black;
  background-color: #F8E6BE;
}
.button-with-arrow button[type='button'] {
  position: relative;
  top: 7px;
  left: -20px;
  padding: 7px 20px;
  font-family: "Roboto-Regular", sans-serif;
  color: black;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 122%;
  word-wrap: break-word;
  color: white;
  display: inline-flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}
.block-of-tours {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
  max-width: 1170px;
}
.block-of-tours .menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
}
.block-of-tours .menu__title {
  font-family: "Roboto-Medium", sans-serif;
  color: black;
  font-size: 59px;
  font-style: normal;
  font-weight: 700;
  line-height: 124%;
  word-wrap: break-word;
}
.block-of-tours .menu__navigation {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}
.block-of-tours .menu__navigation a {
  font-family: "Roboto-Regular", sans-serif;
  color: black;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 122%;
  word-wrap: break-word;
}
.block-of-tours .menu__navigation a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 10px;
}
.block-of-tours .menu__navigation a:active {
  opacity: 50%;
}
.block-of-tours .menu__navigation .valid {
  color: #EFA501;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 10px;
}
.block-of-tours .cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (max-width: 1918px) {
  .block-of-tours .cards {
    padding: 0 53px;
    gap: 18px;
  }
}
.block-of-tours .cards .card-tour {
  width: 370px;
  height: 531px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 50px;
  cursor: pointer;
  transition: all 300ms ease;
}
@media screen and (max-width: 1918px) {
  .block-of-tours .cards .card-tour {
    width: 450px;
  }
}
.block-of-tours .cards .card-tour__title {
  margin-bottom: 16px;
  font-family: "Roboto-Medium", sans-serif;
  color: black;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: 122%;
  word-wrap: break-word;
  color: white;
}
.block-of-tours .cards .card-tour__price {
  margin-bottom: auto;
  font-family: "Roboto-Regular", sans-serif;
  color: black;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 142%;
  letter-spacing: -0.17px;
  word-wrap: break-word;
  color: white;
}
.block-of-tours .cards .card-tour .svg {
  width: 24px;
  height: 26px;
  background-color: white;
  -webkit-mask-image: url('../asset/svg/arrow\ bt.svg');
  mask-image: url('../asset/svg/arrow\ bt.svg');
}
.block-of-tours .cards .card-tour:nth-child(1) {
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url('../asset/cardstour/card\ tour\ photo-1.png'), #d3d3d3;
  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.block-of-tours .cards .card-tour:nth-child(2) {
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url('../asset/cardstour/card\ tour\ photo-2.png'), #d3d3d3;
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}
.block-of-tours .cards .card-tour:nth-child(3) {
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url('../asset/cardstour/card\ tour\ photo-3.png'), #d3d3d3;
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}
.block-of-tours .cards .card-tour:nth-child(4) {
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url('../asset/cardstour/card\ tour\ photo-4.png'), #d3d3d3;
  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.block-of-tours .cards .card-tour:nth-child(5) {
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url('../asset/cardstour/card\ tour\ photo-5.jpg'), #d3d3d3;
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}
.block-of-tours .cards .card-tour:nth-child(6) {
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url('../asset/cardstour/card\ tour\ photo-6.png'), #d3d3d3;
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}
.block-of-tours .cards .card-tour:hover {
  background-size: auto 120%;
  z-index: 1;
}
.block-of-tours .cards .card-tour:hover button[type='button'] {
  background-color: #286562;
  border-radius: 50px;
}
.block-of-tours .cards .card-tour:hover button[type='button']:active {
  background-color: #EFA501;
}
.block-of-tours .cards .card-tour:nth-child(1):hover,
.block-of-tours .cards .card-tour:nth-child(4):hover {
  background-size: 120% auto;
}
.block-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.block-top__title {
  font-family: "Roboto-Medium", sans-serif;
  color: black;
  font-size: 59px;
  font-style: normal;
  font-weight: 700;
  line-height: 124%;
  word-wrap: break-word;
  text-align: center;
}
.block-top__description {
  font-family: "Roboto-Regular", sans-serif;
  color: black;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 142%;
  word-wrap: break-word;
  text-align: center;
  width: 418px;
  color: #A6A6A6;
}
.block-tour-create {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.block-tour-create input,
.block-tour-create textarea,
.block-tour-create select {
  font-family: "Roboto-Regular", sans-serif;
  color: black;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 142%;
  word-wrap: break-word;
  width: 100%;
  outline: none;
  border: none;
}
.block-tour-create .answers {
  width: 1170px;
  padding: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 32px 30px;
  border-radius: 50px;
  background-color: white;
}
@media screen and (max-width: 1918px) {
  .block-tour-create .answers {
    width: 918px;
    padding: 60px;
    gap: 32px 20px;
  }
}
.block-tour-create .item {
  position: relative;
  font-family: "Roboto-Regular", sans-serif;
  color: black;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 142%;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.block-tour-create .item__form {
  padding: 20px;
  border: 1px solid #F4F0E9;
  border-radius: 10px;
  background: #F9F7F4;
  transition: all 300ms ease;
  cursor: pointer;
}
.block-tour-create .item__form:hover {
  background-color: #F4F0E9;
}
.block-tour-create .item .half-width {
  width: 500px;
}
@media screen and (max-width: 1918px) {
  .block-tour-create .item .half-width {
    width: 389px;
  }
}
.block-tour-create .item textarea {
  resize: none;
}
.block-tour-create .item select {
  color: #A6A6A6;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.block-tour-create .item input[type="date"] {
  color: #A6A6A6;
  text-transform: uppercase;
}
.block-tour-create .item .black,
.block-tour-create .item input[type="date"].black {
  color: black;
}
.block-tour-create .item .form-buttons {
  width: 500px;
  display: flex;
  align-items: flex-start;
  gap: 30px;
}
.block-tour-create .item .form-buttons input[type='submit'],
.block-tour-create .item .form-buttons input[type='reset'] {
  padding: 15px 30px;
  text-align: center;
  border-radius: 10px;
  transition: all 300ms ease;
  cursor: pointer;
}
.block-tour-create .item .form-buttons input[type='submit'] {
  color: white;
  background-color: #286562;
}
.block-tour-create .item .form-buttons input[type='submit']:hover {
  background-color: #3B7E7B;
}
.block-tour-create .item .form-buttons input[type='submit']:active {
  background-color: #627F7E;
}
.block-tour-create .item .form-buttons input[type='reset'] {
  color: #286562;
  background-color: #E0F0E5;
}
.block-tour-create .item .form-buttons input[type='reset']:hover {
  background-color: #D9DFDB;
}
.block-tour-create .item .form-buttons input[type='reset']:active {
  background-color: #F1F3F2;
}
.block-tour-create .item .svg__select-arrow {
  width: 26px;
  height: 26px;
  -webkit-mask-size: 26px 26px;
  mask-size: 26px 26px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  background-color: black;
  pointer-events: none;
  -webkit-mask-image: url('../asset/svg/ic-dropdown.svg');
  mask-image: url('../asset/svg/ic-dropdown.svg');
}
.block-tour-create .item-basis {
  flex-basis: 100%;
}
.block-tour-create .svg__radiobutton-yes,
.block-tour-create .svg__radiobutton-no,
.block-tour-create .svg__square-radiobutton-yes,
.block-tour-create .svg__square-radiobutton-no {
  width: 26px;
  height: 26px;
  -webkit-mask-size: 26px 26px;
  mask-size: 26px 26px;
  background-color: black;
}
.block-tour-create .svg__radiobutton-yes {
  -webkit-mask-image: url('../asset/svg/radiobutton-yes.svg');
  mask-image: url('../asset/svg/radiobutton-yes.svg');
}
.block-tour-create .svg__radiobutton-no {
  -webkit-mask-image: url('../asset/svg/radiobutton-no.svg');
  mask-image: url('../asset/svg/radiobutton-no.svg');
}
.block-tour-create .svg__square-radiobutton-yes {
  -webkit-mask-image: url('../asset/svg/s-radiobutton-yes.svg');
  mask-image: url('../asset/svg/s-radiobutton-yes.svg');
}
.block-tour-create .svg__square-radiobutton-no {
  -webkit-mask-image: url('../asset/svg/s-radiobutton-no.svg');
  mask-image: url('../asset/svg/s-radiobutton-no.svg');
}
.block-tour-create input[type='radio'],
.block-tour-create input[type='checkbox'] {
  display: none;
}
.block-tour-create input[type="radio"]:checked ~ label .yes,
.block-tour-create input[type='checkbox']:checked ~ label .yes {
  display: inline-flex;
}
.block-tour-create input[type="radio"]:not(:checked) ~ label .yes,
.block-tour-create input[type="checkbox"]:not(:checked) ~ label .yes {
  display: none;
}
.block-tour-create input[type="radio"]:checked ~ label .no,
.block-tour-create input[type="checkbox"]:checked ~ label .no {
  display: none;
}
.block-tour-create input[type="radio"]:not(:checked) ~ label .no,
.block-tour-create input[type="checkbox"]:not(:checked) ~ label .no {
  display: inline-flex;
}
.block-tour-create .radio-buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 31px;
}
.block-tour-create .radio-buttons label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
  cursor: pointer;
}
.block-tour-create .licentia-description {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 19px;
}
@media screen and (max-width: 1918px) {
  .block-tour-create .licentia-description {
    gap: 10px;
  }
}
.block-tour-create .licentia-description label {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.block-tour-create .licentia-description p {
  font-family: "Roboto-Regular", sans-serif;
  color: black;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 142%;
  letter-spacing: -0.17px;
  word-wrap: break-word;
  color: #A6A6A6;
}
.block-tour-create .licentia-description p a {
  color: black;
}
.block-tour-create .licentia-description p a:hover {
  text-decoration: underline;
}
.block-tour-create .licentia-description p a:active {
  color: #286562;
}
.block-reviews {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.block-reviews .reviews {
  display: flex;
  max-width: 1170px;
  align-items: flex-start;
  gap: 30px;
}
@media screen and (max-width: 1918px) {
  .block-reviews .reviews {
    padding: 0 53px;
    gap: 18px;
  }
}
.block-reviews .card {
  width: 100%;
  display: flex;
  padding: 40px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 50px;
  background-color: #F4F0E9;
}
@media screen and (max-width: 1918px) {
  .block-reviews .card {
    width: 450px;
  }
}
.block-reviews .card p {
  font-family: "Roboto-Regular", sans-serif;
  color: black;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 122%;
  word-wrap: break-word;
  text-align: left;
}
.block-reviews .card__person {
  display: flex;
  padding-top: 70px;
  align-items: flex-end;
  align-self: stretch;
}
.block-reviews .card__person .name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;
}
.block-reviews .card__person .name_big {
  font-family: "Roboto-Medium", sans-serif;
  color: black;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: 122%;
  word-wrap: break-word;
}
.block-reviews .card__person .name_description {
  font-family: "Roboto-Regular", sans-serif;
  color: black;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 142%;
  letter-spacing: -0.17px;
  word-wrap: break-word;
  color: #A6A6A6;
}
.block-reviews .card__person .logo {
  width: 75px;
  height: 75px;
  border-radius: 100px;
}
.block-reviews .card__person .logo_1 {
  background: url('../asset/avatars/review\ photo-1.jpg'), #d3d3d3 -21.313px 0px / 149.953% 100% no-repeat;
  background-position: 50% 20%;
  background-size: cover;
}
.block-reviews .card__person .logo_2 {
  background: url('../asset/avatars/review\ photo-2.jpg'), #d3d3d3 -21.313px 0px / 149.953% 100% no-repeat;
  background-position: 50% 10%;
  background-size: cover;
}
.block-gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.block-gallery .gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
@media screen and (max-width: 1918px) {
  .block-gallery .gallery {
    padding: 0 20px;
  }
}
.block-gallery .row {
  width: 1920px;
  padding: 0 30px;
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 30px;
}
.block-gallery .row:first-child,
.block-gallery .row:last-child {
  grid-template-columns: repeat(4, 1fr);
}
.block-gallery .row:nth-child(2) {
  grid-template-columns: repeat(5, 1fr);
}
@media screen and (max-width: 1918px) {
  .block-gallery .row {
    width: 100vw;
    padding: 0 20px;
    gap: 20px;
  }
  .block-gallery .row:first-child,
  .block-gallery .row:last-child {
    grid-template-columns: repeat(3, 1fr);
  }
  .block-gallery .row:nth-child(2) {
    grid-template-columns: repeat(4, 1fr);
  }
}
.block-gallery .item {
  width: 100%;
  height: 301px;
  border-radius: 50px;
}
.block-gallery .item__photo-1 {
  background: #d3d3d3;
  background-image: url('../asset/travelphoto/travel\ photo-1.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.block-gallery .item__photo-2 {
  background: #d3d3d3;
  background-image: url('../asset/travelphoto/travel\ photo-2.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.block-gallery .item__photo-3 {
  background: #d3d3d3;
  background-image: url('../asset/travelphoto/travel\ photo-3.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.block-gallery .item__photo-4 {
  background: #d3d3d3;
  background-image: url('../asset/travelphoto/travel\ photo-4.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.block-gallery .item__photo-5 {
  background: #d3d3d3;
  background-image: url('../asset/travelphoto/travel\ photo-5.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.block-gallery .item__photo-6 {
  background: #d3d3d3;
  background-image: url('../asset/travelphoto/travel\ photo-6.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.block-gallery .item__photo-7 {
  background: #d3d3d3;
  background-image: url('../asset/travelphoto/travel\ photo-7.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.block-gallery .item__photo-8 {
  background-image: url('../asset/travelphoto/travel\ photo-8.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.block-gallery .item__photo-9 {
  background: #d3d3d3;
  background-image: url('../asset/travelphoto/travel\ photo-13.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.block-gallery .item__photo-10 {
  background: #d3d3d3;
  background-image: url('../asset/travelphoto/travel\ photo-9.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.block-gallery .item__photo-11 {
  background: #d3d3d3;
  background-image: url('../asset/travelphoto/travel\ photo-10.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.block-gallery .item__photo-12 {
  background: #d3d3d3;
  background-image: url('../asset/travelphoto/travel\ photo-11.png');
  background-position: 50% 75%;
  background-size: cover;
  background-repeat: no-repeat;
}
.block-gallery .item__photo-13 {
  background: #d3d3d3;
  background-image: url('../asset/travelphoto/travel\ photo-12.png');
  background-position: 50% 90%;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1918px) {
  .block-gallery .item-hidden-1 {
    display: none;
  }
}
.block-story {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
  max-width: 1170px;
}
.block-story .story-cards {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
}
@media screen and (max-width: 1918px) {
  .block-story .story-cards {
    padding: 0 53px;
  }
}
.block-story .card {
  display: flex;
  flex-direction: column;
  width: 1170px;
  height: 567px;
  padding: 60px;
  justify-content: space-between;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 50px;
  transition: all 300ms ease;
  cursor: pointer;
}
@media screen and (max-width: 1918px) {
  .block-story .card {
    width: 918px;
  }
}
.block-story .card .svg {
  width: 24px;
  height: 26px;
  background-color: white;
  -webkit-mask-image: url('../asset/svg/arrow\ bt.svg');
  mask-image: url('../asset/svg/arrow\ bt.svg');
}
.block-story .card_photo1 {
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.2) 100%), url('../asset/storycards/story\ photo-1.jpg'), #d3d3d3 50% / cover no-repeat;
  background-size: 100% auto;
  background-position: 60% 80%;
}
.block-story .card_photo2 {
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.2) 100%), url('../asset/storycards/story\ photo-2.jpg'), #d3d3d3 50% / cover no-repeat;
  background-size: 100% auto;
  background-position: 60% 80%;
}
.block-story .card_photo3 {
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.2) 100%), url('../asset/storycards/story\ photo-3.jpg'), #d3d3d3 50% / cover no-repeat;
  background-size: 100% auto;
  background-position: 60% 80%;
}
.block-story .card:hover {
  background-size: 120% auto;
  z-index: 1;
}
.block-story .card:hover button[type='button'] {
  background-color: #286562;
  border-radius: 50px;
}
.block-story .card:hover button[type='button']:active {
  background-color: #EFA501;
}
.block-story .story {
  width: 554px;
}
.block-story .story__title {
  font-family: "Roboto-Medium", sans-serif;
  color: black;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: 122%;
  word-wrap: break-word;
  color: white;
  margin-bottom: 37px;
}
.block-story .story__description {
  font-family: "Roboto-Regular", sans-serif;
  color: black;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 142%;
  word-wrap: break-word;
  color: white;
  margin-bottom: 25px;
}
.block-story .story ul {
  font-family: "Roboto-Regular", sans-serif;
  color: black;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 142%;
  word-wrap: break-word;
  color: white;
  margin-left: 30px;
}
.block-story .information {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.block-story .information .social-contacts {
  font-family: "Roboto-Regular", sans-serif;
  color: black;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 142%;
  word-wrap: break-word;
  color: white;
  display: flex;
  align-items: center;
  gap: 35px;
}
.block-story .information .social-contacts a:hover {
  text-decoration: underline;
  text-underline-offset: 6px;
}
.block-story .information .social-contacts a:active {
  color: #EFA501;
}
.block-agitation {
  display: flex;
  align-items: center;
  gap: 30px;
}
.block-agitation .img {
  width: 370px;
  height: 370px;
  border-radius: 50px;
  background: url('../asset/footer/footer\ photo.jpg'), #d3d3d3 -117.363px 0px / 151.55% 100.781% no-repeat;
}
.block-agitation .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
.block-agitation .text__title {
  font-family: "Roboto-Medium", sans-serif;
  color: black;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: 122%;
  word-wrap: break-word;
}
.block-agitation .text p {
  font-family: "Roboto-Regular", sans-serif;
  color: black;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 142%;
  word-wrap: break-word;
  color: #A6A6A6;
}
.block-agitation .text p a {
  color: black;
}
.block-agitation .text p a:hover {
  text-decoration: underline;
}
.block-agitation .text p a:active {
  color: #286562;
}
.footer {
  width: 100%;
  height: 88px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F4F0E9;
}
.footer .our-contacts {
  width: 1168px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1918px) {
  .footer .our-contacts {
    width: 918px;
  }
}
.footer .our-contacts p {
  font-family: "Roboto-Regular", sans-serif;
  color: black;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 142%;
  word-wrap: break-word;
  color: #A6A6A6;
}
.footer .contacts {
  display: flex;
  align-items: center;
  gap: 25px;
}
.footer .contacts a {
  font-family: "Roboto-Regular", sans-serif;
  color: black;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 142%;
  word-wrap: break-word;
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer .contacts a:hover {
  text-decoration: underline;
  text-underline-offset: 6px;
}
.footer .contacts a:active {
  color: #286562;
}
.footer .svg {
  width: 26px;
  height: 26px;
  -webkit-mask-size: 26px 26px;
  mask-size: 26px 26px;
  background-color: #A6A6A6;
}
.footer .svg__instagramm {
  -webkit-mask-image: url('../asset/svg/inst.svg');
  mask-image: url('../asset/svg/inst.svg');
}
.footer .svg__facebook {
  -webkit-mask-image: url('../asset/svg/fb.svg');
  mask-image: url('../asset/svg/fb.svg');
}
.footer .svg__vkontakte {
  -webkit-mask-image: url('../asset/svg/vk.svg');
  mask-image: url('../asset/svg/vk.svg');
}
