@black: black;
@white: white;
@orange100: #F8E6BE;
@orange200: #EFA501;
@green100: #E0F0E5;
@green200: #627F7E;
@green300: #3B7E7B;
@green400: #286562;
@grey100: #F1F3F2;
@grey200: #D9DFDB;
@grey300: #A6A6A6;
@beige100: #F9F7F4;
@beige200: #F4F0E9;

@headAndFootHeight: 88px;
@screenWeightTransitionMobile: 650px;

@font-face {
    font-family: 'Roboto-Medium';
    src: url(../asset/fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url(../asset/fonts/Roboto-Regular.ttf);
}

.mobile-h1-font() {
    font-family: "Roboto-Medium", sans-serif;
    color: @black;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 112%;
    letter-spacing: 0.68px;
}

.mobile-h3-font() {
    font-family: "Roboto-Medium", sans-serif;
    color: @black;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.92px;
}

.mobile-p-big-font() {
    font-family: "Roboto-Regular", sans-serif;
    color: @black;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 142%
}

.mobile-p-normal-font() {
    font-family: "Roboto-Regular", sans-serif;
    color: @black;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 142%
}

.mobile-p-small-font() {
    font-family: "Roboto-Regular", sans-serif;
    color: @black;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 142%;
    letter-spacing: -0.16px;
}

.content() {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

.main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 75px;
    background-color: @beige100;
}

a {
    color: inherit;
    font-size: inherit;
    text-decoration: none;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: 
        linear-gradient(180deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.00) 39.9%), linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%),
        url('../asset/header/header-img.png'),
        lightgray;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .head-top {
        padding: 20px;
        display: flex;
        width: 100%;
        height: @headAndFootHeight;
        justify-content: center;
        align-items: center;
        gap: 214px;
    }

    .head-top_fixed {
        position: fixed;
        visibility: hidden;
        z-index: -1;
        top: 0;
        left: 0;
        padding: 20px;
        display: flex;
        width: 100%;
        height: @headAndFootHeight;
        justify-content: center;
        align-items: center;
        gap: 214px;
        backdrop-filter: blur(5.5px);
        -webkit-backdrop-filter: blur(5.5px);
        background-color: rgba(255, 255, 255, 0.75);
    
        .head-menu {
            color: @black;
            
            .svg {
                background-color: @black;
            }
        }
    }

    .shown {
        visibility: visible;
        z-index: 100;
    }

    .head-menu {
        .mobile-p-normal-font();
        color: @white;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        flex-shrink: 0;

        .svg {
            width: 133px;
            height: 22px;
            mask-image: url('../asset/svg/YourTour.svg');
            -webkit-mask-image: url('../asset/svg/YourTour.svg');
            mask-size: 133px 22px;
            -webkit-mask-size: 133px 22px;
            background-color: @white;
        }
        
        &__navigation {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 30px;

            @media screen and (max-width: @screenWeightTransitionMobile) {
                display: none;
            }

            a:active {
                color: @orange200;
                text-decoration: underline;
                text-decoration-thickness: 1px;
                text-underline-offset: 6px;
            }
        }

        .telefon:active {
            opacity: 50%;
        }
    }

    .head-bottom {
        display: flex;
        height: 400px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
    
        &__title {
            width: 100%;
            text-align: center;
            .mobile-h1-font();
            color: @white;
        }
    
        &__description {
            width: 310px;
            padding: 0 20px;
            text-align: center;
            .mobile-p-normal-font();
            color: @white;
        }
    
        input[type='button'] {
            outline: none;
            border: none;
            padding: 5px 20px;
            .mobile-p-small-font();
            text-align: center;
            border-radius: 10px;
            background: @white;
        }

        input[type='button']:active {
            color: @black;
            background-color: @orange100;
        }
    }
}

.main button[type='button'] {
    outline: none;
    border: none;
    background-color: transparent;
}

.main .button-with-arrow button[type='button'] {
    position: relative;
    top: 7px;
    left: -20px;
    padding: 7px 20px;
    .mobile-p-big-font();
    color: @white;
    display: inline-flex;
    align-items: center;
    gap: 15px;
}

.block-of-tours {
    .content();

    .menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;

        &__title {
            .mobile-h1-font();
            letter-spacing: -0.5px;
        }

        &__navigation {
            text-align: center;
            padding: 0 45px;
            width: 360px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            align-items: center;
            gap: 10px;

            a {
                .mobile-p-big-font();
            }

            .valid {
                color: @orange200;
                text-decoration: underline;
                text-decoration-thickness: 2px;
                text-underline-offset: 4px;
            }
        }
    }

    .cards {
        padding: 0 21px;
        display: flex;
        flex-wrap: wrap;
        gap: 18px;

        .card-tour {
            width: 318px;
            height: 318px;
            padding: 25px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            border-radius: 20px;
            flex: 1 0 0;

            &__title {
                margin-bottom: 13px;
                .mobile-h3-font();
                color: @white;
            }

            &__price {
                margin-bottom: auto;
                .mobile-p-small-font();
                color: @white;
            }

            .svg {
                width: 24px;
                height: 26px;
                background-color: @white;
                mask-image: url('../asset/svg/arrow\ bt.svg');
                -webkit-mask-image: url('../asset/svg/arrow\ bt.svg');
            }

            &:nth-child(1) {
                background:
                    linear-gradient(360deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.50) 100%),
                    url('../asset/cardstour/card\ tour\ photo-1.png');
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }

            &:nth-child(2) {
                background:
                    linear-gradient(360deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.50) 100%),
                    url('../asset/cardstour/card\ tour\ photo-2.png');
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }

            &:nth-child(3) {
                background:
                    linear-gradient(360deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.50) 100%),
                    url('../asset/cardstour/card\ tour\ photo-3.png');
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }

            &:nth-child(4) {
                background:
                    linear-gradient(360deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.50) 100%),
                    url('../asset/cardstour/card\ tour\ photo-4.png');
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }

            &:nth-child(5) {
                background:
                    linear-gradient(360deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.50) 100%),
                    url('../asset/cardstour/card\ tour\ photo-5.jpg');
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }

            &:nth-child(6) {
                background:
                    linear-gradient(360deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.50) 100%),
                    url('../asset/cardstour/card\ tour\ photo-6.png');
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }
        }
    }
}

.block-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    &__title {
        .mobile-h1-font();
        text-align: center;
    }

    &__description {
        .mobile-p-normal-font();
        text-align: center;
        width: 100%;
        color: @grey300;
    }
}

.block-tour-create {
    .content();
    padding: 0 21px;
    gap: 40px;

    input,
    textarea,
    select {
        width: 100%;
        outline: none;
        font-size: inherit;
        color: inherit;
        border: none;
        background: inherit;
    }

    .answers {
        width: 100%;
        padding: 20px 20px 40px 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 35px;
        border-radius: 30px;
        background-color: @white;

        .item {
            .mobile-p-normal-font();
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 8px;
            flex: 1 0 0;

            &__form {
                padding: 10px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                align-self: stretch;
                border: 1px solid @beige200;
                border-radius: 10px;
                background: @beige100;
            }

            textarea {
                resize: none;
            }

            select {
                color: @grey300;
            }

            input[type="date"] {
                color: @grey300;
                text-transform: uppercase;
            }

            .form-buttons {
                width: 278px;
                height: 47px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                input[type='submit'],
                input[type='reset'] {
                    width: 134px;
                    padding: 13px 30px;
                    text-align: center;
                    border-radius: 10px;
                }

                input[type='submit'] {
                    color: @white;
                    background-color: @green400;
                }

                input[type='submit']:active {
                    background-color: @green200;
                }

                input[type='reset'] {
                    color: @green400;
                    background-color: @green100;
                }

                input[type='reset']:active {
                    background-color: @grey100;
                }
            }
        }
    }

    .svg__radiobutton-yes,
    .svg__radiobutton-no,
    .svg__square-radiobutton-yes,
    .svg__square-radiobutton-no {
        width: 20px;
        height: 20px;
        background-color: @black;
        mask-size: 20px 20px;
        -webkit-mask-size: 20px 20px;
    }

    .svg__radiobutton-yes {
        mask-image: url('../asset/svg/radiobutton-yes.svg');
        -webkit-mask-image: url('../asset/svg/radiobutton-yes.svg');
    }
    .svg__radiobutton-no {
        mask-image: url('../asset/svg/radiobutton-no.svg');
        -webkit-mask-image: url('../asset/svg/radiobutton-no.svg');
    }
    .svg__square-radiobutton-yes {
        mask-image: url('../asset/svg/s-radiobutton-yes.svg');
        -webkit-mask-image: url('../asset/svg/s-radiobutton-yes.svg');
    }
    .svg__square-radiobutton-no {
        mask-image: url('../asset/svg/s-radiobutton-no.svg');
        -webkit-mask-image: url('../asset/svg/s-radiobutton-no.svg');
    }

    input[type='radio'],
    input[type='checkbox'] {
        display: none;
    }

    input[type="radio"]:checked~label .yes,
    input[type='checkbox']:checked~label .yes {
        display: inline-flex;
    }

    input[type="radio"]:not(:checked)~label .yes,
    input[type="checkbox"]:not(:checked)~label .yes {
        display: none;
    }

    input[type="radio"]:checked~label .no,
    input[type="checkbox"]:checked~label .no {
        display: none;
    }

    input[type="radio"]:not(:checked)~label .no,
    input[type="checkbox"]:not(:checked)~label .no {
        display: inline-flex;
    }

    .radio-buttons {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 30px;

        label {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }
    }

    .licentia-description {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;

        label {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        p {
            .mobile-p-small-font();
            color: @grey300;

            a {
                color: @black;
            }
        }
    }
}

.block-reviews {
    .content();
    padding: 0 21px;

    .reviews {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 18px;
    }

    .card {
        width: 100%;
        display: flex;
        padding: 20px;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        flex: 1 0 0;
        align-self: stretch;
        border-radius: 20px;
        background-color: @beige200;

        p {
            .mobile-p-big-font();
            text-align: left;
        }
    }

    .card__person {
        display: flex;
        padding-top: 40px;
        align-items: flex-end;
        align-self: stretch;

        .name {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 8px;
            flex: 1 0 0;

            &_big {
                .mobile-h3-font();
            }

            &_description {
                .mobile-p-small-font();
                color: @grey300;
            }
        }

        .logo {
            width: 75px;
            height: 75px;
            border-radius: 100px;

            &_1 {
                background: url('../asset/avatars/review\ photo-1.jpg'), lightgray -21.313px 0px / 149.953% 100% no-repeat;
            }

            &_2 {
                background: url('../asset/avatars/review\ photo-2.jpg'), lightgray -21.313px 0px / 149.953% 100% no-repeat;
            }
        }
    }
}

.block-gallery {
    .content();
    padding: 0px 21px;

    .gallery {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 18px;
    }

    .row {
        width: 318px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }

    .row:first-child {
        gap: 18px;
    }

    .item {
        width: 100%;
        height: 110px;
        border-radius: 20px;

        &__photo-1 {
            background-image: url('../asset/travelphoto/travel\ photo-1.png');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        &__photo-2 {
            background-image: url('../asset/travelphoto/travel\ photo-2.png');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        &__photo-3 {
            background-image: url('../asset/travelphoto/travel\ photo-3.png');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        &__photo-5 {
            background-image: url('../asset/travelphoto/travel\ photo-5.png');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        &__photo-6 {
            background-image: url('../asset/travelphoto/travel\ photo-6.png');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        &__photo-7 {
            background-image: url('../asset/travelphoto/travel\ photo-7.jpg');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        &__photo-8 {
            background-image: url('../asset/travelphoto/travel\ photo-8.png');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        &__photo-10 {
            background-image: url('../asset/travelphoto/travel\ photo-10.png');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        &__photo-11 {
            background-image: url('../asset/travelphoto/travel\ photo-11.png');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        &__photo-12 {
            background-image: url('../asset/travelphoto/travel\ photo-12.png');
            background-position: 50% 75%;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }

    .item-hidden-1,
    .item-hidden-2 {
        display: none;
    }
}

.block-story {
    .content();
    padding: 0 21px;

    .story-cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .card {
        display: flex;
        flex-direction: column;
        width: 318px;
        height: 455px;
        padding: 30px;
        justify-content: space-between;
        align-items: flex-start;
        flex-shrink: 0;
        border-radius: 20px;

        .svg {
            width: 24px;
            height: 26px;
            background-color: @white;
            mask-image: url('../asset/svg/arrow\ bt.svg');
            -webkit-mask-image: url('../asset/svg/arrow\ bt.svg');
        }

        &_photo1 {
            background:
                linear-gradient(270deg, rgba(0, 0, 0, 0.00) 0.01%, rgba(0, 0, 0, 0.20) 100%),
                url('../asset/storycards/story\ photo-1.jpg'), lightgray 50% / cover no-repeat;
            background-size: auto 455px;
            background-position: 50% 80%;
        }

        &_photo2 {
            background:
                linear-gradient(270deg, rgba(0, 0, 0, 0.00) 0.01%, rgba(0, 0, 0, 0.20) 100%),
                url('../asset/storycards/story\ photo-2.jpg'), lightgray 50% / cover no-repeat;
            background-size: auto 455px;
            background-position: 50% 80%;
        }

        &_photo3 {
            background:
                linear-gradient(270deg, rgba(0, 0, 0, 0.00) 0.01%, rgba(0, 0, 0, 0.20) 100%),
                url('../asset/storycards/story\ photo-3.jpg'), lightgray 50% / cover no-repeat;
            background-size: auto 455px;
            background-position: 50% 80%;
        }
    }

    .story {
        width: 263px;

        &__title {
            .mobile-h3-font();
            color: @white;
            margin-bottom: 20px;
        }

        &__description {
            .mobile-p-normal-font();
            color: @white;
            margin-bottom: 25px;
        }

        ul {
            .mobile-p-normal-font();
            color: @white;
            margin-left: 20px;
        }
    }

    .information {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        .social-contacts {
            .mobile-p-normal-font();
            color: @white;
            display: none;
            align-items: center;
            gap: 35px;
        }
    }
}

.block-agitation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;

    .img {
        width: 130px;
        height: 130px;
        border-radius: 20px;
        background: url('../asset/footer/footer\ photo.jpg'), lightgray -117.363px 0px / 151.55% 100.781% no-repeat;
        background-position: 50% 80%;
        background-size: 130px 130px;
    }

    .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;

        &__title {
            .mobile-h3-font();
            text-align: center;
        }

        p {
            .mobile-p-normal-font();
            text-align: center;
            color: @grey300;

            a {
                color: @black;
            }
        }
    }
}

.footer {
    width: 100%;
    height: @headAndFootHeight;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: @beige200;

    .our-contacts {
        width: 317px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 7px;

        p {
            .mobile-p-normal-font();
            color: @grey300;
        }
    }

    .contacts {
        display: flex;
        align-items: center;
        gap: 15px;

        a {
            .mobile-p-normal-font();
            display: flex;
            align-items: center;
            gap: 5px;
        }
    }

    .svg {
        width: 26px;
        height: 26px;
        background-color: @grey300;
        mask-size: 26px 26px;
        -webkit-mask-size: 26px 26px;

        &__instagramm {
            mask-image: url('../asset/svg/inst.svg'); 
            -webkit-mask-image: url('../asset/svg/inst.svg'); 
        }
        &__facebook {
            mask-image: url('../asset/svg/fb.svg');
            -webkit-mask-image: url('../asset/svg/fb.svg');
        }
        &__vkontakte {
            mask-image: url('../asset/svg/vk.svg');
            -webkit-mask-image: url('../asset/svg/vk.svg');
        }
    }
}