@black: black;
@white: white;
@orange100: #F8E6BE;
@orange200: #EFA501;
@green100: #E0F0E5;
@green200: #627F7E;
@green300: #3B7E7B;
@green400: #286562;
@grey100: #F1F3F2;
@grey200: #D9DFDB;
@grey300: #A6A6A6;
@beige100: #F9F7F4;
@beige200: #F4F0E9;

@lightgrey: #d3d3d3;

@header-and-footer-height: 88px;

@font-face {
    font-family: 'Roboto-Medium';
    src: url(../asset/fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url(../asset/fonts/Roboto-Regular.ttf);
}

.mobile-h1-font() {
    font-family: "Roboto-Medium", sans-serif;
    color: @black;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 112%;
    letter-spacing: 0.2px;
    word-wrap: break-word;
}

.mobile-h3-font() {
    font-family: "Roboto-Medium", sans-serif;
    color: @black;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.35px;
    word-wrap: break-word;
}

.mobile-p-big-font() {
    font-family: "Roboto-Regular", sans-serif;
    color: @black;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 142%;
    letter-spacing: -0.4px;
    word-wrap: break-word;
}

.mobile-p-normal-font() {
    font-family: "Roboto-Regular", sans-serif;
    color: @black;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 142%;
    word-wrap: break-word;
}

.mobile-p-small-font() {
    font-family: "Roboto-Regular", sans-serif;
    color: @black;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 142%;
    word-wrap: break-word;
}

.content() {
    width: 100%;

    padding: 0 21px;

    display: flex;
    flex-direction: column;
    gap: 40px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: @header-and-footer-height;
    overflow-x: hidden;
}

a {
    color: inherit;
    font-size: inherit;
    text-decoration: none;

    transition: all 150ms ease;
}

input,
button,
textarea,
select {
    font: inherit;
    color: inherit;

    outline: none;
    border: none;
    background-color: transparent;

    transition: all 150ms ease;
}

.main {
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 75px;

    background-color: @beige100;
}

.header {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background:
        linear-gradient(180deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.00) 39.9%),
        linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%),
        url('../asset/header/header-img.png') @lightgrey no-repeat 50%/cover;
}

.header-top {
    width: 100%;
    height: @header-and-footer-height;

    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header-menu {
    width: 100%;

    .mobile-p-normal-font();
    color: @white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .icon {
        width: 133px;
        height: 22px;

        -webkit-mask-image: url('../asset/svg/YourTour.svg');
        mask-image: url('../asset/svg/YourTour.svg');
        -webkit-mask-size: 133px 22px;
        mask-size: 133px 22px;

        background-color: @white;
    }

    .navigation {
        display: none;
    }

    .icon:active,
    .telefon:active {
        opacity: 50%;
    }
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
}

.hidden {
    opacity: 0;
    z-index: -1;

    transition: all 300ms ease-in-out;
}

.shown {
    opacity: 1;
    z-index: 2;

    -webkit-backdrop-filter: blur(5.5px);
    backdrop-filter: blur(5.5px);
    background-color: rgba(255, 255, 255, 0.75);

    .header-menu {
        color: @black;

        .icon {
            background-color: @black;
        }
    }
}

.header-bot {
    height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;

    .title {
        padding: 0 20px;

        width: 100%;

        text-align: center;
        .mobile-h1-font();
        color: @white;
    }

    .description {
        width: 310px;

        padding: 0 20px;

        text-align: center;
        .mobile-p-normal-font();
        color: @white;
    }

    .search-button {
        padding: 5px 20px;

        .mobile-p-small-font();
        text-align: center;

        background-color: @white;
        border-radius: 10px;
    }

    .search-button:active {
        background-color: @orange100;
    }
}

.content {
    width: 100%;

    padding: 0 21px;

    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile-edit {
    gap: 50px;
}

.tours-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    .title {
        .mobile-h1-font();
        text-align: center;
    }

    .navigation {
        width: 100%;

        padding: 0 32px;

        text-align: center;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
    }

    a {
        .mobile-p-big-font();
    }

    .valid {
        color: @orange200;
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-underline-offset: 4px;
    }
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    gap: 18px;

    @media screen and (max-width: 500px) {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
}

.card {
    position: relative;

    width: 100%;
    height: 318px;

    padding: 25px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    border-radius: 20px;
    overflow: hidden;

    .title {
        margin-bottom: 13px;
        
        z-index: 1;
        
        .mobile-h3-font();
        color: @white;
    }

    .price {
        margin-bottom: auto;
        
        z-index: 1;
        
        .mobile-p-small-font();
        color: @white;
    }
}

.bg-image {
    position: absolute;
    top: 0;
    left: 0;

    width: inherit;
    height: inherit;
}

.card:nth-child(1) .bg-image {
    background:
        linear-gradient(360deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.50) 100%),
        url('../asset/cardstour/card\ tour\ photo-1.png') @lightgrey center/cover no-repeat;
}

.card:nth-child(2) .bg-image {
    background:
        linear-gradient(360deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.50) 100%),
        url('../asset/cardstour/card\ tour\ photo-2.png') @lightgrey center/cover no-repeat;
}

.card:nth-child(3) .bg-image {
    background:
        linear-gradient(360deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.50) 100%),
        url('../asset/cardstour/card\ tour\ photo-3.png') @lightgrey center/cover no-repeat;
}

.card:nth-child(4) .bg-image {
    background:
        linear-gradient(360deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.50) 100%),
        url('../asset/cardstour/card\ tour\ photo-4.png') @lightgrey center/cover no-repeat;
}

.card:nth-child(5) .bg-image {
    background:
        linear-gradient(360deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.50) 100%),
        url('../asset/cardstour/card\ tour\ photo-5.jpg') @lightgrey center/cover no-repeat;
}

.card:nth-child(6) .bg-image {
    background:
        linear-gradient(360deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.50) 100%),
        url('../asset/cardstour/card\ tour\ photo-6.png') @lightgrey center/cover no-repeat;
}

.button-with-arrow {
    position: relative;
    top: 7px;
    left: -20px;

    button[type=button] {
        .mobile-p-big-font();
        color: @white;

        padding: 7px 20px;

        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 15px;
    }
}

.arrow {
    width: 24px;
    height: 26px;

    -webkit-mask-image: url('../asset/svg/arrow\ bt.svg');
    mask-image: url('../asset/svg/arrow\ bt.svg');

    -webkit-mask-size: 24px 26px;
    mask-size: 24px 26px;

    background-color: @white;
}

.title-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .title {
        .mobile-h1-font();
        text-align: center;
    }

    .description {
        .mobile-p-normal-font();
        text-align: center;
        color: @grey300;
    }
}

.form {
    width: 100%;

    padding: 20px 20px 40px 20px;

    display: grid;
    grid-template-areas: 
        "A B"
        "C D"
        "E F"
        "G G"
        "H H"
        "I I"
        "J J";
    gap: 30px;

    background-color: @white;
    border-radius: 30px;

    @media screen and (max-width: 500px) {
        grid-template-areas: "A" "B" "C" "D" "E" "F" "G" "H" "I" "J";
    }
}

.form-grid-element:nth-child(1) {
    grid-area: A;
}

.form-grid-element:nth-child(2) {
    grid-area: B;
}

.form-grid-element:nth-child(3) {
    grid-area: C;
}

.form-grid-element:nth-child(4) {
    grid-area: D;
}

.form-grid-element:nth-child(5) {
    grid-area: E;
}

.form-grid-element:nth-child(6) {
    grid-area: F;
}

.form-grid-element:nth-child(7) {
    grid-area: G;
}

.form-grid-element:nth-child(8) {
    grid-area: H;
}

.form-grid-element:nth-child(9) {
    grid-area: I;
}

.form-grid-element:nth-child(10) {
    grid-area: J;
}

.item {
    position: relative;
    
    .mobile-p-normal-font();

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;

    .element {
        width: 100%;

        padding: 10px;

        background-color: @beige100;
        border: 1px solid @beige200;
        border-radius: 10px;
    }

    select {
        color:@grey300;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    textarea {
        resize: none;
        height: 130px;
    }

    input[type="date"] {
        color: @grey300;
        text-transform: uppercase;
    }

    .black,
    input[type="date"].black {
        color: @black;
    }
}

.select-arrow {
    position: absolute;
    right: 10px;
    bottom: 10px;

    pointer-events: none;

    background-color: @black;

    -webkit-mask-image: url('../asset/svg/ic-dropdown.svg');
    mask-image: url('../asset/svg/ic-dropdown.svg');
}

.svg-26 {
    width: 26px;
    height: 26px;

    -webkit-mask-size: 26px 26px;
    mask-size: 26px 26px;
}

.radio-buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;

    label {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
}

.licentia {
    .mobile-p-normal-font();

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;

    label {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    p {
        .mobile-p-small-font();
        color: @grey300;
    }

    a {
        color: @black;
    }
}

.radio {
    width: 20px;
    height: 20px;

    -webkit-mask-size: 20px 20px;
    mask-size: 20px 20px;

    background-color: @black;
}

.circle-yes {
    -webkit-mask-image: url('../asset/svg/radiobutton-yes.svg');
    mask-image: url('../asset/svg/radiobutton-yes.svg');
}

.circle-no {
    -webkit-mask-image: url('../asset/svg/radiobutton-no.svg');
    mask-image: url('../asset/svg/radiobutton-no.svg');
}

.square-yes {
    -webkit-mask-image: url('../asset/svg/s-radiobutton-yes.svg');
    mask-image: url('../asset/svg/s-radiobutton-yes.svg');
}

.square-no {
    -webkit-mask-image: url('../asset/svg/s-radiobutton-no.svg');
    mask-image: url('../asset/svg/s-radiobutton-no.svg');
}

input[type='radio'],
input[type='checkbox'] {
    display: none;
}

input[type="radio"]:checked~label .yes,
input[type='checkbox']:checked~label .yes {
    display: flex;
}

input[type="radio"]:not(:checked)~label .yes,
input[type="checkbox"]:not(:checked)~label .yes {
    display: none;
}

input[type="radio"]:checked~label .no,
input[type="checkbox"]:checked~label .no {
    display: none;
}

input[type="radio"]:not(:checked)~label .no,
input[type="checkbox"]:not(:checked)~label .no {
    display: inline-flex;
}

.form-buttons {
    width: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    button[type='submit'],
    button[type='reset'] {
        width: 100%;
        max-width: 185px;
        height: 100%;

        padding: 13px 28px;

        .mobile-p-normal-font();
        text-align: center;

        border-radius: 10px;
    }

    button[type='submit'] {
        color: @white;
        background-color: @green400;
    }

    button[type='reset'] {
        color: @green400;
        background-color: @green100;
    }
}

.reviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.review {
    width: 100%;

    padding: 20px;

    .mobile-p-big-font();
    line-height: 1.44;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    
    background-color: @beige200;
    border-radius: 20px;
}

.person {
    margin-top: 40px;

    display: grid;
    grid-template-areas: "A C" "B C";

    .name {
        width: 100%;

        margin: 13px 0;

        grid-area: A;
        align-self: flex-end;

        .mobile-h3-font();
        text-align: left;
    }

    .tour {
        width: 100%;

        grid-area: B;
        align-self: flex-end;

        .mobile-p-small-font();
        color: @grey300;
    }

    .avatar {
        width: 75px;
        height: 75px;

        margin-left: auto;

        grid-area: C;

        border-radius: 100px;
    }

    .image-1 {
        background: url('../asset/avatars/review\ photo-1.jpg'), @lightgrey -21.313px 0px / 149.953% 100% no-repeat;
        background-position: 50% 20%;
        background-size: cover;
    }

    .image-2 {
        background: url('../asset/avatars/review\ photo-2.jpg'), @lightgrey -21.313px 0px / 149.953% 100% no-repeat;
        background-position: 50% 10%;
        background-size: cover;
    }
}

.gallery {
    display: grid;
    grid-template-areas:
        "A A A A C C C C D D D D"
        "E E E F F F H H H I I I"
        "J J J J K K K K L L L L";
    gap: 20px;

    .item {
        width: 100%;
        height: 301px;

        border-radius: 20px;

        @media screen and (max-width: 500px) {
            height: 110px;
        }

        &:nth-child(1) {
            grid-area: A;

            background: url('../asset/travelphoto/travel\ photo-1.png') @lightgrey no-repeat center/cover;
        }

        &:nth-child(3) {
            grid-area: C;

            background: url('../asset/travelphoto/travel\ photo-3.png') @lightgrey no-repeat center/cover;
        }

        &:nth-child(4) {
            grid-area: D;

            background: url('../asset/travelphoto/travel\ photo-4.png') @lightgrey no-repeat center/cover;
        }

        &:nth-child(5) {
            grid-area: E;

            background: url('../asset/travelphoto/travel\ photo-5.png') @lightgrey no-repeat center/cover;
        }

        &:nth-child(6) {
            grid-area: F;

            background: url('../asset/travelphoto/travel\ photo-6.png') @lightgrey no-repeat center/cover;
        }

        &:nth-child(8) {
            grid-area: H;

            background: url('../asset/travelphoto/travel\ photo-8.png') @lightgrey no-repeat center/cover;
        }

        &:nth-child(9) {
            grid-area: I;

            background: url('../asset/travelphoto/travel\ photo-13.png') @lightgrey no-repeat center/cover;
        }

        &:nth-child(10) {
            grid-area: J;

            background: url('../asset/travelphoto/travel\ photo-9.png') @lightgrey no-repeat center/cover;
        }

        &:nth-child(11) {
            grid-area: K;

            background: url('../asset/travelphoto/travel\ photo-10.png') @lightgrey no-repeat center/cover;
        }

        &:nth-child(12) {
            grid-area: L;

            background: url('../asset/travelphoto/travel\ photo-11.png') @lightgrey no-repeat center/cover;
        }
    }

    .hidden-1 {
        display: none;
    }

    @media screen and (max-width: 750px) {
        grid-template-areas:
            "A A A D D D"
            "E E H H I I"
            "J J J K K K";

        gap: 18px;

        .hidden-2 {
            display: none;
        }
    }
}

.stories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.story {
    position: relative;

    width: 100%;
    height: 455px;

    padding: 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    border-radius: 20px;
    overflow: hidden;

    .story-card {
        width: 263px;

        z-index: 1;
    }

    .title {
        .mobile-h3-font();
        color: @white;
        margin-bottom: 20px;
    }

    .description {
        .mobile-p-normal-font();
        color: @white;
        margin-bottom: 25px;
    }

    ul {
        .mobile-p-normal-font();
        color: @white;
        margin-left: 20px;
    }

    .information {
        width: 100%;

        z-index: 1;

        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .social-media {
        .mobile-p-normal-font();
        color: @white;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 35px;

        @media screen and (max-width: 630px) {
            display: none;
        }
    }
}

.story:nth-child(1) .bg-image {
    background:
        linear-gradient(270deg, rgba(0, 0, 0, 0.00) 0.01%, rgba(0, 0, 0, 0.20) 100%),
        url('../asset/storycards/story\ photo-1.jpg') @lightgrey 50%/cover no-repeat;
}

.story:nth-child(2) .bg-image {
    background:
        linear-gradient(270deg, rgba(0, 0, 0, 0.00) 0.01%, rgba(0, 0, 0, 0.20) 100%),
        url('../asset/storycards/story\ photo-2.jpg') @lightgrey 50%/cover no-repeat;
}

.story:nth-child(3) .bg-image {
    background:
        linear-gradient(270deg, rgba(0, 0, 0, 0.00) 0.01%, rgba(0, 0, 0, 0.20) 100%),
        url('../asset/storycards/story\ photo-3.jpg') @lightgrey 50%/cover no-repeat;
}

.agitation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;

    .beautiful-view {
        width: 130px;
        height: 130px;

        background: 
            url('../asset/footer/footer\ photo.jpg'), @lightgrey -117.363px 0px / 151.55% 100.781% no-repeat;
        background-position: 50% 80%;
        background-size: 130px 130px;
        border-radius: 20px;
    }

    .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .title {
        .mobile-h3-font();
        text-align: center;
    }

    p {
        .mobile-p-normal-font();
        color: @grey300;
        text-align: center;
    }

    a {
        color: @black;
    }
}

.footer {
    padding: 21px;

    width: 100%;
    height: @header-and-footer-height;
    
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: @beige200;
    
    .information {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 7px;
    
        .social-media {
            display: flex;
            align-items: center;
            gap: 15px;
        }
    
        p {
            .mobile-p-normal-font();
            color: @grey300;
        }
    
        a {
            .mobile-p-normal-font();
    
            display: flex;
            align-items: center;
            gap: 5px;
        }
    
        .instagram,
        .facebook,
        .vkontakte {
            background-color: @grey300;
        }
    
        .instagram {
            -webkit-mask-image: url('../asset/svg/inst.svg');
            mask-image: url('../asset/svg/inst.svg');
        }
    
        .facebook {
            -webkit-mask-image: url('../asset/svg/fb.svg');
            mask-image: url('../asset/svg/fb.svg');
        }
    
        .vkontakte {
            -webkit-mask-image: url('../asset/svg/vk.svg');
            mask-image: url('../asset/svg/vk.svg');
        }
    }
}
