.tours {
    &__menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 35px;

        @media screen and (max-width: $switcherMode) {
            gap: 30px;
        }
    }

    &__navigation {
        display: flex;
        gap: 30px;

        @media screen and (max-width: $switcherMode){
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 10px;
            width: 100%;
        }
    }

    &__link {
        transition: 
            color 150ms ease-in-out,
            opacity 150ms ease-in-out;
    }

    &__link:hover {
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-underline-offset: 10px;
        
        @media screen and (max-width: $switcherMode) {
            text-underline-offset: 4px;
        }
    }

    &__link:active {
        opacity: 50%;
    }

    &__link_valid {
        color: $orange200;
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 100%);
        justify-items: center;
        align-items: center;
        gap: 30px;
        width: 100%;

        @media screen and (max-width: $viewport1124) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 100%);
            gap: 18px;
        }

        @media screen and (max-width: 500px) {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(6, 100%);
        }
    }
}

@import "./card";
@import "./button-with-arrow";