.agitation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    
    @media screen and (max-width: $switcherMode) {
        flex-direction: column;
    }
    
    &_margin {
        @media screen and (max-width: $switcherMode) {
            margin-top: 5px;
        }
    }

    &__image {
        width: 370px;
        height: 370px;

        border-radius: 50px;

        @media screen and (max-width: $switcherMode) {
            width: 130px;
            height: 130px;

            border-radius: 20px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;

        @media screen and (max-width: $switcherMode) {
            align-items: center;
        }

        &_margin {
            margin-bottom: 5px;
            margin-right: 2px;
        }
    }

    &__link {
        transition: color 150ms ease-in-out;
    }

    &__link:hover {
        text-decoration: underline;
    }

    &__link:active {
        color: $green400;
    }
}