.header {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 120px;
    width: 100%;
    height: 831px;

    @include _769 {
        row-gap: 52px;
        height: 488px;
    }

    &__image {
        width: inherit;
        height: inherit;

        & > img {
            z-index: 0;

            width: 100%;
            height: 100%;
            
            background-color: $lightgrey;

            object-fit: cover;
        }
    }

    &__image_position {
        position: absolute;
        top: 0;
        left: 0;
    }

    &__image::before {
        position: absolute;
        
        width: inherit;
        height: inherit;
        
        background: 
            linear-gradient(180deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.00) 40%),
            linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);

        content: "";
    }

    &__bottom {
        z-index: 1;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;

        @include _769 {
            gap: 40px;
        }
    }

    &__title {
        width: 768px;

        @include _1124 {
            width: 914px;
        }

        @include _769 {
            width: 100%;
            padding: 0 20px;
        }
    }

    &__subtitle {
        width: 562px;

        @include _1124 {
            width: 422px;
        }

        @include _769 {
            width: 310px;
            padding: 0 20px;
        }
    }

    &__button {
        transition: 
            color 150ms ease-in-out,
            background-color 150ms ease-in-out;
    }

    &__button:hover {
        color: $white;
        background-color: $orange200;
    }

    &__button:active {
        color: $black;
        background-color: $orange100;
    }
}

@import "./top-header";
@import "./logo";