.item {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;

    @include p-normal-font;

    @include _770 {
        @include mobile-p-normal-font;
    }

    &__field {
        width: 100%;
        padding: 20px;

        background-color: $beige100;

        border: 1px solid $beige200;
        border-radius: 10px;

        transition: background-color 300ms ease-in-out;

        @include _770 {
            padding: 10px;
        }

        &:hover {
            background-color: $beige200;
        }
    }
    

    & > input[type="date"],
    & > select {
        color: $grey300;
    }

    & > textarea {
        resize: none;

        @include _770 {
            height: 130px;
        }
    }

    &__arrow {
        position: absolute;
        top: 70%;
        transform: translateY(-50%);
        right: 22px;

        pointer-events: none;

        @include _770 {
            right: 10px;
            bottom: -3px;
        }
    }
}
