.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    @include _769 {
        gap: 18px;
    }

    &__subtitle {
        width: 418px;
    }
}