.screen {
    width: 100%;
    height: 301px;

    border-radius: 50px;

    @media screen and (max-width: $viewport1124) {
        &_hidden_1 {
            display: none;
        }
    }

    @media screen and (max-width: 750px) {
        &_hidden_2 {
            display: none;
        }
    }

    @media screen and (max-width: $switcherMode) {
        border-radius: 20px;
    }

    @media screen and (max-width: 500px) {
        height: 110px;
    }

    &:nth-child(1) {
        grid-area: A;

        background: url('../asset/travelphoto/travel-photo-1.png') $lightgrey no-repeat center/cover;
        }

    &:nth-child(2) {
        grid-area: B;

        background: url('../asset/travelphoto/travel-photo-2.png') $lightgrey no-repeat center/cover;
    }

    &:nth-child(3) {
        grid-area: C;

        background: url('../asset/travelphoto/travel-photo-3.png') $lightgrey no-repeat center/cover;
    }

    &:nth-child(4) {
        grid-area: D;

        background: url('../asset/travelphoto/travel-photo-4.png') $lightgrey no-repeat center/cover;
    }

    &:nth-child(5) {
        grid-area: E;

        background: url('../asset/travelphoto/travel-photo-5.png') $lightgrey no-repeat center/cover;
    }

    &:nth-child(6) {
        grid-area: F;

        background: url('../asset/travelphoto/travel-photo-6.png') $lightgrey no-repeat center/cover;
    }

    &:nth-child(7) {
        grid-area: G;

        background: url('../asset/travelphoto/travel-photo-7.jpg') $lightgrey no-repeat center/cover;
    }

    &:nth-child(8) {
        grid-area: H;

        background: url('../asset/travelphoto/travel-photo-8.png') $lightgrey no-repeat center/cover;
    }

    &:nth-child(9) {
        grid-area: I;

        background: url('../asset/travelphoto/travel-photo-13.png') $lightgrey no-repeat center/cover;
    }

    &:nth-child(10) {
        grid-area: J;

        background: url('../asset/travelphoto/travel-photo-9.png') $lightgrey no-repeat center/cover;
    }

    &:nth-child(11) {
        grid-area: K;

        background: url('../asset/travelphoto/travel-photo-10.png') $lightgrey no-repeat center/cover;
    }

    &:nth-child(12) {
        grid-area: L;

        background: url('../asset/travelphoto/travel-photo-11.png') $lightgrey no-repeat center/cover;
        background-position: 50% 75%;
    }

    &:nth-child(13) {
        grid-area: M;

        background: url('../asset/travelphoto/travel-photo-12.png') $lightgrey no-repeat  center/cover;
        background-position: 50% 90%;
    }
}